<h1>&ldquo;Professional&rdquo; Stuff</h1>

<p>A lot of what I do is private, so sadly I can’t get into the nitty gritty specifics; but at the very least I can share what I personally did on the various projects I’ve worked on.</p>

<h2>
  Intelity
  <a href="http://intelity.com/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h2>

<h3>
  Internal Tool
  <a href="https://www.royalrobbins.com/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h3>
  ReqMan
  <a href="https://itunes.apple.com/us/app/ice-request-manager-mobile/id479792886?mt=8" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h3>
  Metrics
  <a href="https://intelity.com/hospitality-platform/staff/business-intelligence/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h3>
  Messaging
  <a href="https://intelity.com/hospitality-platform/guest/messaging/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h3>
  Mobile Key
  <a href="https://intelity.com/hospitality-platform/guest/mobile-key/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h3>Reservations</h3>

<p>I did stuff</p>

<h3>
  ICE Web
  <a href="https://intelity.com/hospitality-platform/guest/mobile-web-app/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h3>ICE TV</h3>

<p>I did stuff</p>

<h3>
  ICS
  <a href="https://intelity.com/hospitality-platform/staff/ticketing/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h3>

<p>I did stuff</p>

<h2>
  Mapleton Hill
  <a href="https://www.mapletonhill.net/" target="_blank" rel="noreferrer">
    {{fa-icon "link" prefix="fas"}}
  </a>
</h2>

<p>In my time at Mapleton Hill, I only ever worked on raw HTML and CSS, with a bit of JS thrown in when I could manage it. I was one of two front end developers at the time, so every client we took on was completely on us. We were provided with design comps for each project and told to make it look good on everything, back to IE6. Fun times!</p>
