<h1>&ldquo;Professional&rdquo; Stuff</h1>

<h2>
  User Experience Developer @ DockYard
  <a href="https://dockyard.com/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <span class="subtext">2021 - current</span>
</h2>

<p>I got hired on at DockYard as a UX Developer, though I'm also doing things like Rails and JavaScript on the daily. It's all pretty new, so I don't have any project specifics yet, but I'll share when I can!</p>

<h2>
  Software Developer @ Intelity
  <a href="https://intelity.com/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <span class="subtext">2012 - 2021</span>
</h2>

<p>A lot of what I did at Intelity is private, so sadly I can’t get into the nitty gritty specifics. At the very least, though, I can share what I personally did on some of the various projects that I worked on.</p>

<h3>
  Guest Services iOS App
  <a href="https://intelity.com/mobile-apps/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <code class="subtext">Objective-C & Swift</code>
</h3>

<p>After years of this project existing and being worked on, I joined the iOS team and took over feature development and maintenance with one other person. Every feature and bug fix was a chance to learn and try my hand at something new. The pace required at the time was incredibly difficult, being new to the project and language, but I did my best to step up and get things done.</p>

<h3>
  Request Manager
  <a href="https://itunes.apple.com/us/app/ice-request-manager-mobile/id479792886?mt=8" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <code class="subtext">Swift</code>
</h3>

<p>I was tasked with rewriting an old iOS app using Swift. I designed and developed the app by myself, using the previous version as a basis for what features I had to make sure existed. Being my very first app, I feel it turned out pretty well.</p>

<h3>
  Analytics Tracker
  <a href="https://intelity.com/hospitality-platform/staff/business-intelligence/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <code class="subtext">Handlebars, Sass, & Ember</code>
</h3>

<p>We were already collecting guest-related metrics in our guest services apps, but the app that we used to see the data was due for an upgrade. Working with one back end dev, I designed and developed the front end of this new web app. This project introduced me to the “wonderful” world of charts and graphing to display the metrics data.</p>

<h3>
  Guest Messaging
  <a href="https://intelity.com/hospitality-platform/guest/messaging/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <code class="subtext">Handlebars, Sass, & Ember</code>
</h3>

<p>We needed a way for hotels to directly communicate with guests, so we came up with a new two-way messaging platform. Working with one back end dev, I designed and developed the front end of this new web app. For this one, I had the chance to try out websockets and help implement a third-party API for SMS and MMS support.</p>

<h3>
  Mobile Key Manager
  <a href="https://intelity.com/hospitality-platform/guest/mobile-key/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <code class="subtext">Handlebars, Sass, & Ember</code>
</h3>

<p>When our native guest services apps added support for opening hotel rooms with your phone, we needed a way to issue, activate, and deactivate mobile keys. Working with one back end dev, I designed and developed the front end of this new web app. I also built a small CSS framework during this project, which I would go on to use in most of my future projects at the company.</p>

<h3>
  Restaurant Reservations
  <code class="subtext">HTML, CSS, & jQuery</code>
</h3>

<p>This one-off web application was built specifically for one hotel, which needed a way for guests to make reservations at their various restaurants. While I worked with an existing API provided by the customer, I was the only person in-house on this project. I designed it to match their established aesthetic and developed the front end myself.</p>

<h3>
  Internal Company Tool
  <code class="subtext">Haml, Sass, CoffeeScript, & Rails</code>
</h3>

<p>This project started as a simple way to store some information about our customers and bloomed into a massive web application which almost everyone at the company used — and relied on — daily. For the first couple of years, I worked on this intermittenly with one other Rails dev. For the most part, though, I took over the application and was in charge of design, feature development, and maintenance for it.</p>

<h3>
  Guest Services Web App
  <a href="https://intelity.com/mobile-apps/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <code class="subtext">Haml Coffee, Sass, CoffeeScript, Bash, & Groovy</code>
</h3>

<p>I was the lead front end developer on this project, which implemented an API to display curated content and also allow guests to submit store orders and requests back to the hotel. When the project started, I was one of three front end devs working on it; but after a couple of years, I became the sole owner and maintainer of it. I was also responsible for producing themed builds for every hotel we brought on.</p>

<h2>
  Front End Developer @ Mapleton Hill
  <a href="https://www.mapletonhill.net/" target="_blank" rel="noreferrer">
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <span class="subtext">2011</span>
</h2>

<p>During my time at Mapleton Hill, I only ever worked on raw HTML and CSS, with a bit of JavaScript thrown in when I could <span title="No, really. JS was considered back end work for some reason, so we weren’t supposed to do it.">sneak</span> it. I was one of two front end developers at the time, so every client we took on was completely on us. We were provided with design comps for each project and told to make it look good on everything, back to IE6. “Fun” times!</p>
