<nav>
  <h1>
    {{#link-to "index"}}
      <img class="avatar" src="images/me.jpg" alt="Avatar">
    {{/link-to}}
  </h1>

  <div class="social">
    <a href="https://github.com/turtleguyy" rel="noopener" target="_blank">
      {{fa-icon "github"}}
    </a>
    <a href="https://twitter.com/turtleguyy" rel="noopener" target="_blank">
      {{fa-icon "twitter"}}
    </a>
    <a href="https://www.instagram.com/turtleguyy" rel="noopener" target="_blank">
      {{fa-icon "instagram"}}
    </a>
    <a href="https://500px.com/turtleguyy" rel="noopener" target="_blank">
      {{fa-icon "500px"}}
    </a>
    <a href="http://conswogglerations.com/" rel="noopener" target="_blank">
      {{fa-icon "tumblr"}}
    </a>
  </div>

  <ul>
    <li>{{link-to "css ftw" "index"}}</li>
    <li>{{link-to "about" "about"}}</li>
    <li>{{link-to "projects" "projects"}}</li>
  </ul>
</nav>

<section class="content">
  {{outlet}}
</section>
